# すべてを無視
*

# 例外（Gitに含めるファイルとフォルダ）
!.gitignore
!package.json
!tsconfig.json
!README.md
!LICENSE
!NOTICE.md

# VS Code 設定
!.vscode/
!.vscode/**

# 仕様書ドキュメント
!docs/
!docs/**

# TypeScript 拡張機能
!src/
!src/**

# Rust サーバー
!server/
!server/**
server/target/

# 一時フォルダやパッケージ管理
node_modules/
out/